# WireFluid Testnet
# NEXT_PUBLIC_FACTORY_ADDRESS=0xYOUR_FACTORY_ADDRESS_HERE
# NEXT_PUBLIC_WALLETCONNECT_PROJECT_ID=YOUR_WALLETCONNECT_PROJECT_ID

# Chain config (from docs.wirefluid.com)
# NEXT_PUBLIC_CHAIN_ID=92533
# NEXT_PUBLIC_RPC_URL=https://rpc.wirefluid.com
# NEXT_PUBLIC_CHAIN_NAME=WireFluid Testnet
# NEXT_PUBLIC_BLOCK_EXPLORER=https://wirefluidscan.com



NEXT_PUBLIC_FACTORY_ADDRESS=0xFEC3108Be622Aa9d4deE7E53116fAe405700685b
NEXT_PUBLIC_WALLETCONNECT_PROJECT_ID=34b787b814741fc64fabe012fba99069

NEXT_PUBLIC_CHAIN_ID=84532
NEXT_PUBLIC_RPC_URL=https://sepolia.base.org
NEXT_PUBLIC_CHAIN_NAME=Base Sepolia
NEXT_PUBLIC_BLOCK_EXPLORER=https://sepolia.basescan.org
